*.exe*
/build
define.h
patch.ld
section.cpp

// ida files
*.ida
*.id0
*.id1
*.id2
*.i64
*.til
*.nam

.vscode

section.ld
section/main.cpp
section/main.cxx

*.bat // one day I'll commit with my bat files without it here :P